

.footer_calendar_final_reserver{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.calendar_dayin_dayout {
  display: inline-block;

}

.contenido{
	display: flex;
	flex-direction: column;
}

.imagen_cabecera{
 width: 1580px;
 height: 550px;
 margin-left: 7%; 
 margin-right:  7%; 
 margin-top: 10px;
}
.carousel-item {
  max-height: 1210px;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.carousel-caption {
  margin-bottom: 550px;
}

.descripcion {
  width:90% ;
  margin-top: 1%;
  margin-left: 7%;
  margin-right: 1%;
  text-align: justify;
}

.footer_calendar_final_reserver {
  margin-top: 1%;
  margin-right: 10%;
  background-color: #7cbef1;
  display: flex;
  justify-content: space-between;
}

label {
  display: block;
  font: 1rem "Fira Sans", sans-serif;
}


