body {
    margin: 0%;
}

/*contenedor principal*/
.container {
    width: 100%;
    height: 969px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/*zona reserva*/
.reservationcalendar {
    flex-basis: 50%;
    background-color: rgb(55, 115, 255);
}

/*zona habitación*/
.room {
    flex-basis: 50%;
    background: -webkit-linear-gradient(bottom, #0d37f1, #00c6ff);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

/*tipo de habitación*/
.roomtype {
    text-align: center;
    font-size: 25px;
}

/*imagen de habitación*/
.roomimg {
    text-align: center;
    margin: 1%;
}
.roomimg img {
    border: 1px;
    box-shadow: 1px 1px 10px 1px rgb(55, 115, 255);
}

/*descripción de habitación*/
.roominfo p {
    margin: 2%;
    margin-left: 5%;
    margin-right: 5%;
    justify-content: center;
    text-align: justify;
    font-size: 25px;
}

/*precio de habitación*/
.roomprice{
    height: 100px;
}
.roomprice p {
    margin-top: 0%;
    margin-bottom: 0%;
    margin-right: 5%;
    text-align: right;
    font-size: 50px;
}

/*botones*/
.buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

/*botón cancelar*/
#cancel {
    margin-left: 10%;
    font-size: 25px;
    background-color: rgb(172, 197, 255);
    border: ridge 1px black;
}
#cancel:hover {
    background-color: rgb(133, 170, 255);
}

/*botón reservar*/
#select {
    margin-right: 10%;
    font-size: 25px;
    background-color: rgb(172, 197, 255);
    border: ridge 1px black;
}
#select:hover {
    background-color: rgb(133, 170, 255);
}
h1{
    color: white;
    font-family: 'Alex Brush', cursive;
    font-size: 280%;
}