.header {
  background: url(../Pagina_principal/Multimedia/Fondo_pantalla.jpg) no-repeat center;
  background-size: cover;
  min-height: 100vh;
}
.header .navbar {
  background-color:transparent !important;
  

}

