 
 .avatar{
    width: 2%;
    height: 2%;
}
.titulo  {
  
    color: white;
    margin: auto;
    text-align: center;
    padding-right: 20px;
    font-family: 'Alex Brush', cursive;
    font-size: 2.5em;
    margin-top: 0px;
    margin-bottom: 0px;
 }
 .titulo:hover{
     color: rgba(255, 255, 255, 0.658);
     
 }
 a:link, a:visited, a:active {
    text-decoration:none;
}

.hide-scroll {
    overflow: hidden;
}
.usuario{
    color: white;
    margin-top: 1%;
    margin-right: 1%;
}
img{
    width: 40%;
    height: 100%;
    
}
.contendedor{
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-items: stretch;
margin: 1%;
margin-left: 2%;
margin-right: 2%;

}
.habitacion{
    margin-bottom: 1%;
    margin-left: 3%;
    width: 46%;
    height: 200px;
    background: -webkit-linear-gradient(left, #0d37f1, #00c6ff);
}

.barra_busqueda{
    margin-top: 4%;
    height: 100px;
    width: 100%;
    background: -webkit-linear-gradient(left, #0d37f1, #00c6ff);

}
.barra_busqueda .d-flex{ 
    padding-top: 1.5%;
}
.barra_busqueda .d-flex input{
    margin-left: 65%;
    width: 100%;
}